html{
    background-color: 	#ffffe0;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}